.dropdown {
  position: fixed;
  left: 0;
  top: 0;
  & .dropdown-content {
    position: relative;
    z-index: 1010;
    background: white;
    padding: 10px 16px;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  }
}