.syl-image-fixer {
  display: inline-block;
  position: relative;
  margin: auto;
  text-align: center;
}

.syl-editor .syl-image-wrapper {
  user-select: text;
}

.syl-image-fixer .align-menu {
  display: inline-block;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  height: 28px;
  line-height: 20px;
  background: #fff;
  white-space: nowrap;
  border-radius: 2px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.syl-image-fixer .align-menu .align-icon {
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
  vertical-align: middle;
  color: #000000;
}

.syl-image-fixer .align-menu .align-icon.active path,
.syl-image-fixer .align-menu .align-icon:hover path {
  stroke: #98ccfd;
}

.syl-image-fixer .align-menu .align-icon svg {
  vertical-align: middle;
}

.syl-image-fixer img {
  max-width: 100%;
  height: auto;
}
.syl-image-caption-input {
  padding: 6px 7px;
  width: 375px;
  text-align: center;
  font-size: 12px;
  color: #666;
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  margin: auto;
  margin-top: 2px;
}
.syl-image-caption-input:focus {
  outline: none;
}
.syl-image-caption {
  height: 32px;
  bottom: 0;
}

.syl-image-resize-box-control {
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 2;
}

.syl-image-atom-wrapper {
  display: inline-block;
  position: relative;
  font-size: 0;
}

.syl-resizable-container {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  outline: 1px solid #98ccfd;
}

.syl-resizable-container .syl-image-resize-box-control.top_left {
  cursor: nw-resize;
  left: -6px;
  top: -6px;
  cursor: nwse-resize;
}

.syl-resizable-container .syl-image-resize-box-control.top_right {
  cursor: ne-resize;
  right: -6px;
  top: -6px;
  cursor: nesw-resize;
}

.syl-resizable-container .syl-image-resize-box-control.bottom_right {
  cursor: se-resize;
  bottom: -6px;
  right: -6px;
  cursor: nwse-resize;
}

.syl-resizable-container .syl-image-resize-box-control.bottom_left {
  cursor: sw-resize;
  bottom: -6px;
  left: -6px;
  cursor: nesw-resize;
}

.syl-image-resize-box-control::after {
  background-color: #98ccfd;
  border: solid 1px #fff;
  box-sizing: border-box;
  content: '';
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
  border-radius: 50%;
}

.syl-image-resize-box-control::before {
  bottom: -6px;
  content: '';
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.syl-editor .image-wrapper {
  position: relative;
  display: inline-block;
}

.syl-image-wrapper .syl-image-caption {
  display: block;
}

.syl-image-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes SylRotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.syl-image-loading svg {
  position: absolute;
  left: 2%;
  top: 2%;
  animation: SylRotate 2s infinite;
}

.ProseMirror[contenteditable='false'] .syl-image-caption input:not(:focus) {
  pointer-events: none;
}

.ProseMirror[contenteditable='false'] .syl-image-caption input[value='']::selection {
  background-color: transparent;
  color: transparent;
}

.ProseMirror[contenteditable='false'] .syl-image-caption input[value='']::-webkit-input-placeholder {
  color: transparent;
}
