.form-explain {
  color: #f5222d;
  clear: both;
  min-height: 22px;
  font-size: 14px;
  line-height: 1.5;
}

.syl-link-tooltip {
  display: inline-block;
  position: absolute;
  background-color: #fff;
  padding: 0 6px;
  border-radius: 4px;
  border: 1px solid #e3e5ea;
  box-shadow: 0 6px 24px 0 rgba(17, 34, 51, 0.1);
  z-index: 1;
}

.syl-link {
  user-select: text;
}
