.form-explain {
  color: #f5222d;
  clear: both;
  min-height: 22px;
  font-size: 14px;
  line-height: 1.5;
}

.syl-link-tooltip {
  display: inline-block;
  position: absolute;
  font-size: 14px;
  background-color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid #e3e5ea;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.syl-link {
  user-select: text;
}
